params {
    outdir = './results'
    publish_dir_mode = 'copy'
}

process {
    withName: FastQC {
        publishDir = [
        path: "${params.outdir}/fastqc",
        mode: 'copy'
        ]
    }

    withName: FastP {
        publishDir = [
        path: "${params.outdir}/fastp",
        mode: 'copy'
        ]
    }
}